@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-family: "Nunito", serif, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color: #e0e0e0;
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
}

a {
  font-weight: 700;
  color: #a1e3f9;
  text-decoration: inherit;
}
a:hover {
  color: #d1f8ef;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.75em;
  line-height: 1;
  margin-top: 0;
}
h2 {
  margin: 0 auto;
}
h3 {
  margin: 0 auto;
}

button{
  width: 145px;
  background: #3d464b;
  color: white;
  border: solid 1.5px transparent;
  border-radius: 8px;
  font-family: "Nunito", serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  border-color: #e0e0e0;
}
button:active {
  transform: scale(0.98);
}
select {
  appearance: none; /* Removes default arrow */
  width: 200px;
  background: #3d464b;
  color: white;
  border: solid 1.5px transparent;
  border-radius: 80px;
  font-family: "Nunito", serif;
  font-size: 1rem;
  font-weight: 600;
  text-align-last: center; /* Ensure text is centered in modern browsers */
  padding: 6px;
  margin: 18px auto 12px;
  cursor: pointer;
  transition: all 0.25s ease;
}
select:focus {
  outline: none;
}
select:hover {
  border-color: #e0e0e0;
}

.card {
  padding: 2em;
  margin-bottom: 1em;
  border: solid 2px gray;
  border-radius: 12px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
  text-align: center;
}